*{

    margin:0;
    padding:0;

    box-sizing:border-box;

    font-family:
    Arial,
    Helvetica,
    sans-serif;

}



body{

    background:#f2f4f7;

}



.container{

    width:100%;

    max-width:500px;

    margin:auto;

    padding:20px;

}



.card{

    background:white;

    border-radius:20px;

    padding:25px;

    margin-top:20px;

    box-shadow:
    0 5px 20px rgba(0,0,0,.15);

}



.hidden{

    display:none !important;

}



h1{

    text-align:center;

    color:#1565c0;

    font-size:28px;

    line-height:1.4;

    margin-bottom:30px;

}



h2{

    text-align:center;

    margin-bottom:25px;

}



button{

    width:100%;

    padding:18px;

    margin-top:15px;

    border:none;

    border-radius:15px;

    background:#1565c0;

    color:white;

    font-size:22px;

    font-weight:bold;

}



button:active{

    transform:scale(.97);

}



.back{

    background:#f57c00;

    margin-top:25px;

}



#reader{

    width:100%;

    margin-top:20px;

}



/* =====================
   POPUP
===================== */


#overlay{

    position:fixed;

    top:0;

    left:0;

    width:100%;

    height:100%;

    display:flex;

    justify-content:center;

    align-items:center;

    background:
    rgba(0,0,0,.8);

    z-index:9999;

}



#overlayCard{

    width:90%;

    max-width:420px;

    padding:35px;

    border-radius:25px;

    background:#2e7d32;

    color:white;

    text-align:center;

}



#overlay.warning #overlayCard{

    background:#f57c00;

}



#overlay.error #overlayCard{

    background:#d32f2f;

}



#overlayIcon{

    font-size:80px;

    margin-bottom:20px;

}



#overlayTitle{

    font-size:32px;

    font-weight:bold;

}



#overlayPhoto{

    width:180px;

    height:180px;

    border-radius:50%;

    object-fit:cover;

    border:5px solid white;

    margin:25px auto;

    display:block;

}



#overlayName{

    font-size:30px;

    font-weight:bold;

}



#overlayCode{

    font-size:24px;

    margin-top:10px;

}



#overlayClass{

    font-size:22px;

    margin-top:5px;

}



#overlayHint{

    margin-top:35px;

    font-size:18px;

    opacity:.9;

}
